:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
  /* Start Box */
  .flex-1 {
    flex: 1;
  }
  .d-flex {
    display: flex;
  }
  .justify-Bt {
    justify-content: space-between;
  }
  .justify-C {
    justify-content: center;
  }
  .fd-colam {
    flex-direction: column;
  }
  .f-wrap {
    flex-wrap: wrap;
  }
  .align-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .d-grid {
    display: grid;
  }
  .gap-20 {
    gap: 20px;
  }
  .d-block {
    display: block;
  }
  @media (max-width: 767px) {
    .block-mobile {
      display: block;
    }
    .hide-mobile {
      display: none;
    }
  }
  .re-no {
    resize: none;
  }
  /* End Box */
  /* Start Padding + Margin */
  .p-5 {
    padding: 5px;
  }
  .p-10 {
    padding: 10px;
  }
  .p-15 {
    padding: 15px;
  }
  .p-20 {
    padding: 20px;
  }
  .pt-10 {
    padding-top: 10px;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .pt-20 {
    padding-top: 20px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  .pb-15 {
    padding-bottom: 15px;
  }
  .pb-20 {
    padding-bottom: 20px;
  }
  .pl-15 {
    padding-left: 15px;
  }
  .m-0 {
    margin: 0;
  }
  .m-15 {
    margin: 15px;
  }
  .m-20 {
    margin: 20px;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mt-1 {
    margin-top: 1px;
  }
  .mt-5 {
    margin-top: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-25 {
    margin-top: 25px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  /* End Padding + Margin */
  /* Start Color */
  .c-black {
    color: black;
  }
  .c-white {
    color: white;
  }
  .c-grey {
    color: var(--grey-color);
  }
  .c-red {
    color: var(--red-color);
  }
  .c-green {
    color: var(--green-color);
  }
  .c-blue {
    color: var(--blue-color);
  }
  .c-orange {
    color: var(--orange-color);
  }
  .bg-red {
    background-color: var(--red-color);
  }
  .bg-green {
    background-color: var(--green-color);
  }
  .bg-blue {
    background-color: var(--blue-color);
  }
  .bg-orange {
    background-color: var(--orange-color);
  }
  .bg-white {
    background-color: white;
  }
  .bg-eee {
    background-color: #eee;
  }
  /* End Color */
  /* Start Position */
  .p-relative {
    position: relative;
  }
  .p-absolute {
    position: absolute;
  }
  /* End Position */
  /* Start Font */
  .txt-c {
    text-align: center;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-15 {
    font-size: 15px;
  }
  .fs-16 {
    font-size: 16px;
  }
  .fs-25 {
    font-size: 25px;
  }
  .fw-500 {
    font-weight: 500;
  }
  .fw-bold {
    font-weight: bold;
  }
  @media (max-width: 767px) {
    .txt-c-mobile {
      text-align: center;
    }
  }
  /* End Font */
  /* Start Border */
  .rad-6 {
    border-radius: 6px;
  }
  .rad-10 {
    border-radius: 10px;
  }
  .rad-half {
    border-radius: 50%;
  }
  .radR-6 {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .radL-6 {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .b-none {
    border: none;
  }
  .out-none {
    outline: none;
  }
  .outC-green {
    outline: 4px solid var(--green-color);
  }
  .outC-blue {
    outline: 4px solid var(--blue-color);
  }
  .outC-orange {
    outline: 4px solid var(--orange-color);
  }
  .border-ccc {
    border: 1px solid #ccc;
  }
  .border-eee {
    border: 1px solid #eee;
  } 
  .bordBt-ccc {
    border-bottom: 1px solid #eee;
  }
  .bordL-ccc {
    border-left: 1px solid #ccc;
}
  /* End Border */
  /* Start Width + Height */
  .w-full {
    width: 100%;
  }
  .w-100 {
    width: 100px;
  }
  .w-80 {
    width: 80px;
  }
  .w-35 {
    width: 35px;
  }
  .w-all {
    width: calc(100% - 80px);
  }
  .h-full {
    height: 100%;
  }
  .h-100 {
    height: 100px;
  }
  .h-35 {
    height: 35px;
  }
  .h-5 {
    height: 5px;
  }
  /* End Width + Height */
  /* Start Components */
  .center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
  }
  /* End Components */
  
  /* Start Input */
  .cr-no {
    cursor: no-drop;
  }
  .cr-p {
    cursor: pointer;
  }
  /* End Input */

  /* Hidden */
  .over-h {
    overflow: hidden;
  }

  /* Start Indexes */
  .z-1 {
    z-index: 1;
  }
  .z-2 {
    z-index: 2;
  }
  .z-3 {
    z-index: 3;
  }
  .z-4 {
    z-index: 4;
  }
  .z-5 {
    z-index: 5;
  }
  .z-6 {
    z-index: 6;
  }
  /* End Indexes */

  /* Start Transform */
  .translate-17 {
    transform: translateX(-17px);
    -webkit-transform: translateX(-17px);
    -moz-transform: translateX(-17px);
    -ms-transform: translateX(-17px);
    -o-transform: translateX(-17px);
}
.translate-34 {
  transform: translateX(-34px);
  -webkit-transform: translateX(-34px);
  -moz-transform: translateX(-34px);
  -ms-transform: translateX(-34px);
  -o-transform: translateX(-34px);
}
.translate-51 {
  transform: translateX(-51px);
  -webkit-transform: translateX(-51px);
  -moz-transform: translateX(-51px);
  -ms-transform: translateX(-51px);
  -o-transform: translateX(-51px);
}
.translate-68 {
  transform: translateX(-68px);
  -webkit-transform: translateX(-68px);
  -moz-transform: translateX(-68px);
  -ms-transform: translateX(-68px);
  -o-transform: translateX(-68px);
}
  /* End Transform */