:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  *:focus {
    outline: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
  }
  .page {
    background-color: #f1f5f9;
    min-height: 100vh;
  }
  /* Start Sidebar */
  .sidebar {
    width: 205px;
    box-shadow: 0 0 10px #ddd;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .sidebar > h3 {
    margin-bottom: 50px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    background-color: black;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }
  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
  }
  .sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
  }
  .sidebar ul li a:hover,
  .sidebar ul li a.active {
    background-color: #f6f6f6;
  }
  .sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
  }
  @media (max-width: 767px) {
    .sidebar {
      width: 58px;
      padding: 10px;
    }
    .sidebar > h3 {
      font-size: 13px;
      margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
      display: none;
    }
    .sidebar ul li a span {
      display: none;
    }
  }
  /* End Sidebar */
  /* Start Content */
  .content {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 205px);
    background: #f1f5f9;
  }
  @media (max-width:767px) {
    .content {
      width: calc(100% - 58px);
    }
  }
  .head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
  }
  .head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
  }
  .head .search input:focus {
    width: 200px;
  }
  .head .search input:focus::placeholder {
    opacity: 0;
  }
  .head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
  }
  .head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
  }
  .content > h1 {
    margin: 20px 20px 40px;
  }
  .content h1::before,
  .content h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  .content h1::before {
    background-color: white;
    width: 120px;
  }
  .content h1::after {
    background-color: black;
    width: 40px;
  }
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    .wrapper {
      grid-template-columns: minmax(200px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
  }
  /* End Content */

  /* Start Site Control */

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(33px);
  -webkit-transform: translateX(33px);
  -moz-transform: translateX(33px);
  -ms-transform: translateX(33px);
  -o-transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Start One */
.one {
    width: calc(97% / 2);
    position: relative;
}

.one::before {
    content: attr(data-text);
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #aaa5a5;
}

@media (max-width:767px) {
    .one {
        width: 100%;
    }
}

.one .images {
    padding: 25px 0;
    box-sizing: content-box;
}

.one .images img {
    width: 37px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.one .images img:hover {
    z-index: 99;
}

.one .skills {
    justify-content: end;
}

@media (max-width:767px) {
    .one .skills {
        flex-direction: column;
        align-items: flex-start;
    }
}

.one .skills p {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.one .progress {
    padding: 20px 0 0 0;
}

.one .progress div {
    width: 50%;
    height: 10px;
}

.one .progress div span {
    height: 10px;
}